.incoming-call-container {
    border: 4px solid #4caf50;
    animation: blink-border 1s infinite;
}

@keyframes blink-border {

    0%,
    100% {
        border-color: #4caf50;
        box-shadow: 0 0 20px #4caf50;
    }

    50% {
        border-color: #2e7d32;
        box-shadow: 0 0 10px #2e7d32;
    }
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}